.navbar ul li a
{
	text-transform: uppercase;
}
.story
{
	border: 1px solid black;
	padding: 1em;
	border-radius: 8px;
	background: rgba(0, 0, 0, 0.1);
	margin-bottom: 2em;
}
.story .content
{
	word-wrap: wrap;
}
.story .meta
{
	margin-bottom: 1em;
	border-bottom: 1px solid black;
}
.story-manage
{
	margin-top: 2em;
	padding-top: 0.5em;
	border-top: 1px solid black;
}
.votes
{
	float: left;
}
.votes-qnt
{
	margin-left: 0.5em;
	margin-bottom: -1em;
	line-height: 3em;
}
.read-more, .edit-post, .remove-post, .move-post
{
	float: right;
}
.comments
{
	margin-top: 2em;
	padding-top: 0.5em;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.comment
{
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 1em;
	border-radius: 8px;
	margin: 1em 0;
}
.comment-content
{
	margin-top: 3em;
}
.hidden-load
{
	display: none;
}
.loading
{
	color:#777;
	font-family:helvetica, arial, sans-serif;
	font-size:13px;
	font-weight:normal;
	height: 100px;
	left:50%;
	line-height:100px;
	margin:-50px 0 0 -50px;
	position: fixed;
	text-align:center;
	text-shadow:1px 1px 1px #000;
	text-transform:uppercase;
	top:50%;
	width: 100px;
	z-index:200;
}
.loading:before
{
	background:#222;
	border-radius:10px;
	content:'';
	height: 140px;
	left:50%;
	margin:-70px 0 0 -70px;
	position: absolute;
	top:50%;
	width: 140px;
	z-index:-2;
}

.loading:after
{
	animation: rotate 2s infinite linear;
	border:1px solid #555;
	border-radius: 100%;
	box-shadow:2px 2px #fff;
	content:'';
	height: 100px;
	left:50%;
	margin:-50px 0 0 -50px;
	position: absolute;
	text-align:center;
	text-transform:uppercase;
	top:50%;
	width: 100px;
	z-index:-1;
}
@keyframes rotate
{
  	0%
	{
  		transform: rotateZ(0deg);
  	}
	100%
	{
		transform: rotateZ(360deg);
	}
}