{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="page-header">Adding story</h2>
	<div class="story">
	    {{ form_start(form) }}
	    {{ form_widget(form) }}
	    {{ form_end(form) }}
	</div>
{% endblock %}
